<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
  <script
    src="https://kit.fontawesome.com/6b27559972.js"
    crossorigin="anonymous"
  ></script>
  <title>Landing Page</title>
</head>
<body>
  <div class="headerImgContainer">
    <img
      class="headerLogo"
      src="{{ url_for('static', filename='images/logo2.png') }}"
      alt="logo"
    />
  </div>
  <div class="mainSectionHeader">
    <h1 id="mainSectionHeader">Leave it to the professionals</h1>
  </div>
  <h1 id="thankYou">Thank You!</h1>
  <h2>To leave us a review please follow the links below</h2>

  <div class="socialButtons">
    <a href="https://www.facebook.com/BLPerformanceINC/" target="_blank">
      <button class="socialLinks fa-brands fa-facebook fa-3x"></button>
    </a>
    <a href="https://g.page/r/CeMHkd-nPcYfEBM/review" target="_blank">
      <button class="socialLinks fa-brands fa-google fa-3x"></button>
    </a>
  </div>
</body>
<footer>
  <p class="footerText">BL Performance 580 SE Oak St Roseburg, OR 97470</p>
</footer>
